
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("UpdateData", "student"))
{
    <input type="hidden" name="sid" value="@Model.sid" />
     <label>Name</label><br />
    <input type="text" name="sname" value="@Model.sname" /><br />
    <label>Address</label><br />
    <input type="text" name="saddress" value="@Model.saddress" /><br />
    <label>Contact</label><br />
    <input type="tel" name="contact" value="@Model.contact" /><br />

    <input type="submit" name="submit" class="btn btn-success" value="Submit" /><br />
}